.container{
    font-family: "Poppins";
}
h1{
    text-align: center;
    padding: 20px;
}
p{
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}
.jurusan{
    display: flex;
    justify-content: center;
    padding-bottom: 15;
    margin-bottom: 20px;
    
}
 .Tkj{
    background-color:#f2f5f7;
    padding: 20px;
    border-radius: 20px;
    margin-right: 20px;
    text-align: center;
    font-family: "poppins";
    text-align: left;
   
    font-size: small;
    
}
.Tkj:hover {
    box-shadow: 0 8px 20px rgb(0,0,0,0.15);
    transform: scale(1);
    transition: all 0.4s ease;
}
.Dkv{
    background-color: #f2f5f7;
     padding: 20px;
     border-radius: 20px;
     text-align: center;
     font-family: "poppins";
    text-align: left;
    font-size: small;
}
.Dkv:hover {
     box-shadow: 0 8px 20px rgb(0,0,0,0.15);
     transition: all 0.4s ease;
}

.Rpl{
    background-color: #f2f5f7;
    padding: 20px;
    border-radius: 20px;
    margin-left: 20px;
    text-align: center;
    font-family: "poppins";
    text-align: left;
    font-size: small;
}
.Rpl:hover{
     box-shadow: 0 8px 20px rgb(0,0,0,0.15);
     transition: all 0.4s ease;
}

.judulTkj{
    background-color: rgb(255, 183, 0);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    margin-top: 1px;
    color: white;
    

}
.judulTkj i{
    color: #f2f5f7;
}
.juduldkv{
    color: white;
    background-color: rgb(255, 183, 0);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    margin-top: 1px
    
}
.juduldkv i{
    color: #f2f5f7;
}
    
.judulRPL{
    color: white;
    background-color: rgb(255, 183, 0);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    margin-top: 1px;
    color: white;
}
.judulRPL i{
    color: #f2f5f7;
}
.DownloadSilabus{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 0, 115);
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.DownloadSilabusdkv{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 0, 115);
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.DownloadSilabusrpl{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 0, 115);
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.logotkj{
    color: white;
}
.pla{
    padding-bottom: 20px;
}
.pli{
    padding-bottom: 20px;
}
.plu{
    padding-bottom: 20px;
}
.li-a li{
    color: #687279;
    text-decoration: none;
    list-style-type: none;
    padding: 2px;
}
.li-i li{
    color: #687279;
    text-decoration: none;
    list-style-type: none;
    padding: 2px;
}
.li-u li{
    color: #687279;
    text-decoration: none;
    list-style-type: none;
    padding: 2px;
}
.fa-solid {
    color: orange;
    margin-right: 10px;
}


